<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Padaria_DAL.Properties.Settings.CST" connectionString="Data Source=databasepararia.database.windows.net;Initial Catalog=Padaria;Persist Security Info=False;User ID=Padaria;Password=#Juandias10;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>